@import "tailwindcss";
@plugin "daisyui";

.navbar li a.active {
  @apply border-b-2 border-sky-400;
}

.my-container {
  @apply container mx-auto;
}

.custom-gradient {
  @apply bg-linear-to-br from-slate-900 via-sky-900 to-slate-800 text-gray-300;
}

.sidebar-nav-item-style {
  @apply w-full block py-2 px-4 rounded-lg transition-colors duration-300 transform;
}
