@import "tailwindcss";
@plugin "daisyui";

.navbar li a.active {
@apply border-b-2 border-sky-400
}

.my-container{
  @apply container mx-auto
}

.custom-gradient{
  @apply bg-linear-to-r from-slate-900 via-sky-900 to-slate-800 text-gray-300
}